<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="IconList" type="System.Configuration.NameValueFileSectionHandler" restartOnExternalChanges="false"/>
  </configSections>
  <appSettings>
    <add key="TodoSourceFilePath" value="C:\Users\hasep\source\repos\Products\todo\todo\bin\Debug\net6.0-windows\source\TodoSource.xml"/>
    <add key="ListDisplaySettingFilePath" value="C:\Users\hasep\source\repos\Products\todo\todo\bin\Debug\net6.0-windows\config\TodoListConfig.xml"/>
  </appSettings>
  <IconList>
    <add key="NotStart" value="C:\Users\hasep\source\repos\Products\todo\todo\Icon\not_start.png" />
    <add key="Working" value="C:\Users\hasep\source\repos\Products\todo\todo\Icon\working.png" />
    <add key="Completed" value="C:\Users\hasep\source\repos\Products\todo\todo\Icon\completed.png" />
    <add key="Canceled" value="C:\Users\hasep\source\repos\Products\todo\todo\Icon\canceled.png" />
  </IconList>
</configuration>