<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="IconList" type="System.Configuration.NameValueFileSectionHandler" restartOnExternalChanges="false"/>
  </configSections>
  <appSettings>
    <add key="TodoSourceFilePath" value="\TodoSource.xml"/>
    <add key="ListDisplaySettingFilePath" value="\TodoListConfig.xml"/>
  </appSettings>
  <IconList>
    <add key="NotStart" value="\Icon\not_start.png" />
    <add key="Working" value="\Icon\working.png" />
    <add key="Completed" value="\Icon\completed.png" />
    <add key="Canceled" value="\Icon\canceled.png" />
  </IconList>
</configuration>